# Global editor/OS cruft
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Environment files
*.local

# Dependency folders (monorepo)
**/node_modules/

# Build outputs
**/dist/
**/build/
**/.next/
**/out/

# Coverage and reports
**/coverage/
**/.nyc_output/

# Caches
**/.cache/
**/.vite/
**/.eslintcache
**/.parcel-cache
**/.turbo/

# IDE/project files
.idea/
*.iml

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
config.bat
